.me {
  width: 100vw;
  height: 100vh;
  background: url('https://college.bczcdn.com/wapp-res/common/imgs/bg-1553760237469.jpeg') top center / 750px 420px no-repeat;
  /* display: flex;
  justify-content: center; */
}

.addBtn {
  width: 150px;
  height: 70px;
  margin-top: 80px;
  margin-left: 550px;
  text-align: center;
}

.pizza {
  width: 50px;
  height: 50px;
}

.addText {
  width: 100%;
  height: 20px;
  font-size: 20px;
  color: #88888D;
}

.content {
  width: 85%;
  margin: 210px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 40%;
  margin-top: 40px;
  margin-left: 5%;
}

