.me {
  width: 100vw;
  height: 100vh;
  background: url('https://college.bczcdn.com/wapp-res/common/imgs/bg-1553760237469.jpeg') top center / 750px 420px no-repeat;
  /* display: flex;
  justify-content: center; */
}

.addBtn {
  width: 150px;
  height: 60px;
  margin-top: 80px;
  margin-left: 550px;
  text-align: center;
}

.pizza {
  width: 50px;
  height: 50px;
}

.content {
  width: 100%;
  margin-top: 210px;
  /* display: flex;
  flex-wrap: wrap; */
}

.container {
  width: 40%;
  margin-top: 40px;
  margin-left: 5%;
}

